.button {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    border-radius: 10px;
    position: relative;
    font-size: .9rem;
    height: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    //style for <button>
    border: none;
    cursor: pointer;
    margin: 0;
  }

  &:active,
  &:focus {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
    outline: none;
  }

  &--primary {
    //background-color: $color-navy;
    color: #fff;
    //border: 1px solid $color-black !important;
    transition: all 0.2s ease-out;
    background: transparent linear-gradient(270deg, #041E39 0%, #57687A 100%) no-repeat padding-box;
    box-shadow: -4px 4px 10px #0000004f;
    font-family: inherit;

    &:disabled {
      background: #e9e9e9 !important;
      color: #cfcfcf !important;
      border: none !important;
      font-size: 1.6rem;
      font-weight: 500;
      box-shadow: none;
    }
    //&:hover {
    //  background-color: $color-white;
    //  color: $color-black;
    //  border: 1px solid $color-black !important;
    //}
    //
    //&:hover img {
    //  fill: $color-white;
    //}

    @at-root .button--primary.medium {
      font-size: 1.6rem;
      padding: 1.3rem 5rem;
      display: block !important;
      text-align: center;
      width: 100%;
    }

    @at-root .button--primary.small {
      font-size: 1.6rem;
      padding: 1.3rem 0;
      display: block !important;
      text-align: center;
      width: 100%;
    }

    @at-root .button--primary.download {
      font-size: 1.4rem;
      padding: 0.5rem !important;
      border-radius: 4px !important;
      display: block !important;
      text-align: center;
      width: 100%;
    }

    @at-root .button--primary.download2 {
      font-size: 1.3rem;
      padding: 0.5rem 1rem !important;
      border-radius: 4px !important;
      display: flex !important;
      justify-content: space-between !important;
      align-items: center !important;
      width: 100%;
    }
  }

  &--secondary {
    //background-color: $color-navy;
    color: #fff;
    //border: 1px solid $color-black !important;
    transition: all 0.2s ease-out;
    background: #17516a;
    box-shadow: -4px 4px 10px #0000004f;
    font-family: inherit;

    &:disabled {
      background: #e9e9e9 !important;
      color: #cfcfcf !important;
      border: none !important;
      font-size: 1.6rem;
      font-weight: 500;
      box-shadow: none;
    }
    //&:hover {
    //  background-color: $color-white;
    //  color: $color-black;
    //  border: 1px solid $color-black !important;
    //}
    //
    //&:hover img {
    //  fill: $color-white;
    //}

    @at-root .button--secondary.medium {
      font-size: 1.6rem;
      padding: 1.3rem 5rem;
      display: block !important;
      text-align: center;
      width: 100%;
    }

    @at-root .button--secondary.small {
      font-size: 1.6rem;
      padding: 1.3rem 0;
      display: block !important;
      text-align: center;
      width: 100%;
    }

    @at-root .button--secondary.download {
      font-size: 1.4rem;
      padding: 0.5rem !important;
      border-radius: 4px !important;
      display: block !important;
      text-align: center;
      width: 100%;
    }

    @at-root .button--secondary.download2 {
      font-size: 1.3rem;
      padding: 0.5rem 1rem !important;
      border-radius: 4px !important;
      display: flex !important;
      justify-content: space-between !important;
      align-items: center !important;
      width: 100%;
    }
  }

  &--anchor {
    background-color: transparent;
    border: none;
    font-family: inherit;
    outline: none;

    &:active,
    &:focus {
      transform: none;
      box-shadow: none;
      outline: none;
    }
  }

  &--outline {
    background-color: transparent;
    border: 1px solid #57687a;
    font-family: inherit;
    outline: none;

    &:active,
    &:focus {
      transform: none;
      box-shadow: none;
      outline: none;
    }
  }
}
