.filter-map {
  position: absolute;
  z-index: 20;
  right: 12px;
  top: 12px;
  width: 200px;
  background-color: white;
  height: 370px;
  border-radius: 10px;
  box-shadow:  #00000059 0 5px 15px !important;
  padding: 10px;

  //&__search {
  //  position: relative;
  //  margin-top: 10px;
  //  height: 30px;
  //  border-radius: 3px;
  //
  //  input {
  //    position: absolute;
  //    right: 0;
  //    top: 0;
  //    border : 1px solid #ccc;
  //    height: inherit;
  //    border-radius: 3px;
  //
  //    &::placeholder {
  //      font-size: 12px;
  //      font-family: inherit !important;
  //      padding-right: 10px;
  //    }
  //  }
  //}

  &__submit{
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    margin : 0 auto;
  }
}