.filter-calendar {
  box-shadow: none !important;
  background: transparent;
  width: 80%;
  margin: 0 auto;
}

.Calendar__monthYearContainer {
  color: black;
}

.Calendar__monthYear.-shown {
  font-size: 13px;
}

.Calendar__header {
  padding: 1em 0 !important;
}

.Calendar {
  width: 100% !important;
  max-width: 100% !important;
  padding-top: 0 !important;
  min-height: 25em !important;
}

.Calendar__weekDays {
  padding: 0 0 !important;
}

.Calendar__section {
  padding: 0 !important;
}

.Calendar__day.-rtl {
  font-size: 12px !important;
  height: 2.45em !important;
}

.Calendar.-rtl .Calendar__section.-hiddenPrevious {
  transform: translateX(100%) !important;
}

.Calendar.-rtl .Calendar__section.-hiddenNext {
  transform: translateX(-100%) !important;
}

.Calendar__sectionWrapper {
  min-height: 20em !important;
}