.gauge-sub-info {
  padding: 0 20px 20px;
  &__row {
    display: flex;
    direction: rtl;
    font-size: 12px;
    color: #707070;

    &:not(:last-child){
     margin-bottom: 5px;
    }

    &__right {
      width: 60%;
      text-align: right;
      display: flex;
      align-items: center;
    }

    &__left {
      width: 40%;
      text-align: right;
    }
  }
}