.guild-gauge-chart{
  margin : 0 auto;
  height: 100%;
  padding-top: 10px;

  .highcharts-background{
     fill: transparent !important;
  }

  width: auto !important;
  svg {
    width: 100% !important;
  }
}