.select-radio {
  width: 100%;
  margin: 0 auto;

  &__group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }

  &__group:not(:last-child){
    margin-bottom: .9rem;
  }

  &__input {
    display: none;
  }

  &__input:checked + &__label &__button::after {
    opacity: 1;
    border: none !important;
  }

  &__label {
    font-size: 12px;
    color: #000;
    font-weight: 400;
    padding-right: 1.5rem;
    width: 100%;
    cursor: pointer;

    &--green {
      font-size: 1.4rem;
      padding-right: 3rem;
      color: #000;
    }
  }

  &__button {
    width: 15px;
    height: 15px;
    border: 1px solid #b4b4b4;
    border-radius: 3px;
    //border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 0;


    &::after {
      content: "";
      height: 15px;
      width: 15px;
      display: table;
      border-radius: 3px;
      //background: transparent linear-gradient(0deg, #041E39 0%, #57687A 100%)  no-repeat;
      background-image: url(./../../assets/images/icons/check-active.svg);
      background-size: 11px;
      background-color: #233951;
      background-repeat: no-repeat;
      background-position: center center;
      border: none !important;
      padding: 3px;
      //border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      //transition: all 0.3s;
    }
  }
}
