.count-up-timer {
  text-align: center;
  width: 100%;
  direction: ltr;

  > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  &__days,&__hours,&__minutes,&__seconds{
    color: #175A76;
    font-size: 60px;
    font-weight: bold;
    &--title{
      font-size: 16px;
      margin-top: 5px;
      color: #707070;
    }
  }
}
.count-up-timer .timeel {
  display: inline-block;
  padding: 10px;
  background: #151515;
  color: white;
  min-width: 2.6rem;
}
.count-up-timer span[class*="timeRef"] {
  background: #e8c152;
  color: black;
}
