// IRAN SANS FONTS

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 100;
  src: /* IE6-8 */
          url("./../assets/fonts/IRANSans/Thin/IRANSansX-Thin.woff2") format("woff2"),
            /* FF39+,Chrome36+, Opera24+*/
          url("./../assets/fonts/IRANSans/Thin/IRANSansX-Thin.woff") format("woff"),
            /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
          url("./../assets/fonts/IRANSans/Thin/IRANSansX-Thin.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: /* IE6-8 */
          url("./../assets/fonts/IRANSans/ULight/IRANSansX-UltraLight.woff2") format("woff2"),
            /* FF39+,Chrome36+, Opera24+*/
          url("./../assets/fonts/IRANSans/ULight/IRANSansX-UltraLight.woff") format("woff"),
            /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
          url("./../assets/fonts/IRANSans/ULight/IRANSansX-UltraLight.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: /* IE6-8 */
          url("./../assets/fonts/IRANSans/Light/IRANSansX-Light.woff2") format("woff2"),
            /* FF39+,Chrome36+, Opera24+*/
          url("./../assets/fonts/IRANSans/Light/IRANSansX-Light.woff") format("woff"),
            /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
          url("./../assets/fonts/IRANSans/Light/IRANSansX-Light.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 400;
  src: /* IE6-8 */
          url("./../assets/fonts/IRANSans/Regular/IRANSansX-Regular.woff2") format("woff2"),
            /* FF39+,Chrome36+, Opera24+*/
          url("./../assets/fonts/IRANSans/Regular/IRANSansX-Regular.woff") format("woff"),
            /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
          url("./../assets/fonts/IRANSans/Regular/IRANSansX-Regular.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: /* IE6-8 */
          url("./../assets/fonts/IRANSans/Medium/IRANSansX-Medium.woff2") format("woff2"),
            /* FF39+,Chrome36+, Opera24+*/
          url("./../assets/fonts/IRANSans/Medium/IRANSansX-Medium.woff") format("woff"),
            /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
          url("./../assets/fonts/IRANSans/Medium/IRANSansX-Medium.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 600;
  src: /* IE6-8 */
          url("./../assets/fonts/IRANSans/Demibold/IRANSansX-DemiBold.woff2") format("woff2"),
            /* FF39+,Chrome36+, Opera24+*/
          url("./../assets/fonts/IRANSans/Demibold/IRANSansX-DemiBold.woff") format("woff"),
            /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
          url("./../assets/fonts/IRANSans/Demibold/IRANSansX-DemiBold.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 700;
  src: /* IE6-8 */
          url("./../assets/fonts/IRANSans/Bold/IRANSansX-Bold.woff2") format("woff2"),
            /* FF39+,Chrome36+, Opera24+*/
          url("./../assets/fonts/IRANSans/Bold/IRANSansX-Bold.woff") format("woff"),
            /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
          url("./../assets/fonts/IRANSans/Bold/IRANSansX-Bold.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 800;
  src: /* IE6-8 */
          url("./../assets/fonts/IRANSans/ExBold/IRANSansX-ExtraBold.woff2") format("woff2"),
            /* FF39+,Chrome36+, Opera24+*/
          url("./../assets/fonts/IRANSans/ExBold/IRANSansX-ExtraBold.woff") format("woff"),
            /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
          url("./../assets/fonts/IRANSans/ExBold/IRANSansX-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: /* IE6-8 */
          url("./../assets/fonts/IRANSans/Black/IRANSansX-Black.woff2") format("woff2"),
            /* FF39+,Chrome36+, Opera24+*/
          url("./../assets/fonts/IRANSans/Black/IRANSansX-Black.woff") format("woff"),
            /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
          url("./../assets/fonts/IRANSans/Black/IRANSansX-Black.ttf") format("truetype");
}
