.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    border-radius: 1rem;
    position: relative;
    font-size: 1.6rem;
    padding: 1rem;
    width: 12rem;
    justify-content: space-evenly;
    align-items: center;
    //style for <button>
    border: none;
    cursor: pointer;
  }

  &:active,
  &:focus {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    outline: none;
  }

  &--primary {
    background-color: $color-black;
    color: $color-white;
    border: 1px solid $color-black !important;
    transition: all 0.2s ease-out;
    font-family: inherit;
    &:hover {
      background-color: $color-white;
      color: $color-black;
      border: 1px solid $color-black !important;
    }

    &:hover img {
      fill: $color-white;
    }

    @at-root .btn--primary.medium {
      font-size: 2.4rem;
      padding: 1.5rem 8rem;
      @include respond(big-desktop){
        font-size: 2rem;
        padding: 1.2rem 6rem;
      }
      display: block !important;
      text-align: center;
      width: auto !important;
    }

    @at-root .btn--primary.phone-block {
      @include respond(r415){
        width: 100% !important;
      }

    }
  }

  &--black {
    background-color: transparent;
    color: $color-black;
    border: 2px solid $color-black !important;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: $color-black;
      color: $color-white;
      border: 2px solid transparent !important;
    }

    &:hover svg {
      fill: $color-white;
    }
  
  }
  &--white {
    background-color: transparent;
    color: $color-white;
    border: 2px solid $color-white !important;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #242121;
      //color: $color-white;
      //border: 2px solid transparent !important;
    }

    //&:hover svg path {
    //  fill: $color-black;
    //}

  }


  &--inline{
    width:100%
  }
}
