.progress-bar {
  position: relative;
  cursor: pointer;
  height: 130px;

  @include respond(r415){
    transform: scale(.6);

    svg{
      width: 100px ;
      height: 100px ;

      circle{
        cx : 50;
        cy : 50;
        r : 45;
      }
    }
  }

  &__circle {
    transform: rotate(-90deg);
    filter: drop-shadow(1px 1px 3px rgba($color-black, 0.2));
    margin: 0 auto;

    &-back {
      fill: none;
      stroke: $color-white;
      stroke-width: 3px;
    }

    &-prog {
      fill: none;
      stroke: $color-black;
      stroke-width: 3px;
      stroke-dasharray: 0 999;
      stroke-dashoffset: 0px;
      transition: stroke-dasharray 0.7s ease-in-out 0s;
    }
  }

  &__text {
    @include absCenter;
    @include respond(r415){
      top : 40%;
    }
    font-size: 3rem;
  }
}
