.contact-us-form {
  direction: rtl;
  @include respond(r415) {
    form {
      display: flex;
      flex-direction: column;
    }
  }

  @include respond(r415) {
    width: 90%;
    padding: 4rem 5rem 5.5rem 5rem;
  }

  width: 133.6rem;
  @include respond(big-desktop) {
    width: 63%;
  }

  margin: 0 auto;
  background: $color-white;
  padding: 4rem 10rem 5.5rem 10rem;
  border-radius: 3rem;
  transform: translateY(-15rem);

  @include respond(r1600) {
    transform: translateY(-10rem) !important;
  }

  @include boxshadow-1;

  h6 {
    font-size: 4rem;
    @include respond(big-desktop) {
      font-size: 3rem;
    }
    font-weight: 700;
  }
}

.placeholder-rtl {
  &::-webkit-input-placeholder {
    /* Edge */
    direction: rtl;
    text-align: right;
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    direction: rtl;
  }

  &::placeholder {
    text-align: right;
  }
}
