.line {
  height: 2px;
  background: transparent
    linear-gradient(
      90deg,
      #ffffff 0%,
      #848181 53%,
      #5e5e5ea3 71%,
      #5b5b5b8c 84%,
      #acacac24 100%,
      #a5a5a500 100%
    )
    0% 0% no-repeat padding-box;
  opacity: 1;
  width: 90%;
  margin: 0 auto;
}
