.progress-box {
  text-align: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  h6 {
    font-size: 3rem;
    @include respond(big-desktop){
      font-size: 2.4rem;
    }
    font-weight: 500;
    margin-top: 6rem;

    @include respond(r415){
      font-size: 2rem;
      margin-top: 0;
    }
  }

}

.progress-slider{
  &__holder{
    display: flex;
    justify-content: space-evenly;
  }
}

