// COLORS
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #00000033;
$color-grey-dark-main: #e9e9e9;
$color-grey-dark-main-2: #656565;
$color-grey-dark-main-3: #989898;
$color-grey-dark-main-4: #b2b2b2;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;
$color-bg-input : #FAFAFA;


// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 144rem;
$vertical-gutter: 5rem;
$vertical-gutter-small: 4.5rem;
$horizontal-gutter: 6rem;
$horizontal-gutter-small: 3rem;
