.header {
  height: 100vh;
  background-image: linear-gradient(180deg, rgba($color-white, 0) 70%, $color-white 100%),
    url("./../../assets/images/header-background.png");
  direction: rtl;
  background-size: cover;
  position: relative;
  background-position: center center;

  &__go-to-bottom {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }

  &__text-box {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50% -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    background: rgba($color-white, 0.5);
    box-shadow: 0 0.8rem 3rem rgba($color-white, 0.3);
    border-radius: 4rem;
    opacity: 0.95;
    backdrop-filter: blur(1rem);
    padding: 6rem 5.5rem;
    @include respond(r1600) {
      padding: 6rem 4rem;
      width: 60%;
    }
    @include respond(r1024) {
      width: 75%;
    }
    width: 53%;
  }
}
