*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: IRANSans;

}

html {
  //overflow: hidden;
  //overflow-y: auto;
  //scrollbar-color: #999999 #e4e4e4;
  //scrollbar-width: thin;
  // definition of 1 rem if 16px is default of page 62.5% is 10px;
  font-size: 62.5%; //16px = 100% 10px = 1rem

  @include respond(r1600) {
    font-size: 59.375%; // 16px = 100% * 9.5px = 1rem
  }

  @include respond(r1536) {
    font-size: 56.25%; // 16px = 100% * 9px = 1rem
  }

  @include respond(r1440) {
    font-size: 53.75%; // 1rem = 8.5px  8.5*100/16
  }

  @include respond(r1366) {
    font-size: 50%; // 1rem = 8px 8 * 100 / 16
  }

  @include respond(r1280) {
    font-size: 46.875%; // 1rem = 7.5px 7.5 * 100 / 16;
  }

  @include respond(r1080) {
    font-size: 43.75%; // 1rem = 7px 7 * 100 / 16;
  }

  @include respond(r1024) {
    font-size: 40.625%; // 1rem = 6.5px 6.5 * 100 / 16;
  }

  @include respond(r415) {
    font-size: 31.25%; // 1rem = 5px 5 * 100 / 16;
  }

  @include respond(big-desktop) {
    font-size: 62.5%; //  16px = 100% 10px = 1rem
  }
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background-color: #e4e4e4;
}

html::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #999999;
}

body {
  //other styles are in typography
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer !important;
}

button:focus-visible {
  outline: none !important;
}